body{
    background: linear-gradient(45deg, black, #15ff00, black);
    height: 100vh;
    overflow-y: hidden;
}


.apresentacao {
    width: 50%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px black;
}

.icone2{
    position: absolute;
    left: 10%;
    top: 30%;
    width: 40px;
    height: 40px;
}

.icone3{
    position: absolute;
    left: 90%;
    top: 90%;
    width: 50px;
    height: 50px;
}

.icone4{
    position: absolute;
    left: 30%;
    top: 85%;
    width: 30px;
    height: 30px;
}

.icone5{
    position: absolute;
    left: 80%;
    top: 5%;
    width: 50px;
    height: 50px;
}

.icone6{
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 35%;
    width: 45px;
    height: 45px;
}

.icone7{
    position: absolute;
    left: 85%;
    top: 25%;
    width: 50px;
    height: 50px;
}

.icone8{
    position: absolute;
    left: 5%;
    top: 70%;
    width: 40px;
    height: 40px;
}

.icone9{
    position: absolute;
    left: 7%;
    top: 10%;
    width: 30px;
    height: 30px;
}

.icone {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    translate: -50%;
    animation: icone 2s ease infinite;
}

@keyframes icone {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}



.mensagem-apresentacao{
    font-size: 30px;
    width: 80%;
    padding-left: 20px;
    color: #333;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50%;
    margin-top: 15%;
    text-align: center;
    transform: translate(-50%);
}

.titulo{
    font-weight: bold;
    font-size: 40px;
}

.btn-apresentacao {
    display: block;
    width: 160px;
    height: 45px;
    border-radius: 8px;
    background: linear-gradient(90deg, #00ff9d, #00c853);
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    margin: 70px auto 0 auto;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
    transition: 200ms;
    font-weight: bold;
}

.btn-apresentacao:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.45);
}


.body{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

.mensagem{
    width: 45%;
    height: 4.5%;
    background: rgba(255, 255, 255, 0.753);
    border: 0;
    border-radius: 23px;
    font-size: 20px;
    padding-left: 1%;
    box-shadow: 2px 4px 6px #000000b9;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.enviar{
    height: 5%;
    width: 2.5%;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 50%;
    position: absolute;
    box-shadow: 2px 4px 6px #000000b9;
    bottom: 2%;
    border: 0;
    left: 73.2%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.enviar:hover{
    transform: translateY(-8px);
    background-color: #bbbbbb;
}

.bi-arrow-up-short{
    font-size: 45px;
    color: black;
}

.bi-list{
    font-size: 50px;
    color: black;
}

.btn-aside{
    background-color: transparent;
    border: 0;
    margin: 0;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    left: 0.2%;
    transition: left 1s ease, background 200ms;
}
.btn-aside:hover{
    background-color: rgba(0, 0, 0, 0.226);
}
.btn-aside.active{
    left: 15%;
}

.historico{
    width: 15%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: -15%;
    top: 0%;
    transition: left 1s ease;
    box-shadow: 0px 2px 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.historico.active{
    left: 0%;
}

.chat1{
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 1px;
    padding-left: 10px;
    cursor: pointer;
    color: black;
    border-bottom: 2px solid lightgray;
    border-top: 4px solid lightgray;
    transition: background 200ms;
}

.chat1:hover{
    background-color: rgb(182, 182, 182);
}

.c1{
    display: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    transition: background 200ms;
}

.c1:hover{
    background-color: rgb(182, 182, 182);
}

.chat2{
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 10px;
    cursor: pointer;
    color: black;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    transition: background 200ms;
}

.chat2:hover{
    background-color: rgb(182, 182, 182);
}

.c2{
    display: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    transition: background 200ms;
}

.c2:hover{
    background-color: rgb(182, 182, 182);
}

.chat3{
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 10px;
    cursor: pointer;
    color: black;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    transition: background 200ms;
}

.chat3:hover{
    background-color: rgb(182, 182, 182);
}

.c3{
    display: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    transition: background 200ms;
}

.c3:hover{
    background-color: rgb(182, 182, 182);
}

.chat4{
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 10px;
    cursor: pointer;
    color: black;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    transition: background 200ms;
}

.chat4:hover{
    background-color: rgb(182, 182, 182);
}

.c4{
    display: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    transition: background 200ms;
}

.c4:hover{
    background-color: rgb(182, 182, 182);
}

.chat5{
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 10px;
    cursor: pointer;
    color: black;
    border-bottom: 4px solid lightgray;
    border-top: 2px solid lightgray;
    transition: background 200ms;
}

.chat5:hover{
    background-color: rgb(182, 182, 182);
}

.c5{
    display: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    transition: background 200ms;
}

.c5:hover{
    background-color: rgb(182, 182, 182);
}