<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atena.AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/icons8-bardo-32.png') }}">
</head>
<body>

    <div class="apresentacao" id="apresentacao">
        <img src="{{ url_for('static', filename='img/icons8-bardo-32.png') }}" class="icone">
        <img src="{{ url_for('static', filename='img/icons8-bardo-24.png') }}" class="icone2">
        <img src="{{ url_for('static', filename='img/icons8-bardo-24.png') }}" class="icone3">
        <img src="{{ url_for('static', filename='img/icons8-bardo-32.png') }}" class="icone4">
        <img src="{{ url_for('static', filename='img/icons8-bardo-32.png') }}" class="icone5">
        <img src="{{ url_for('static', filename='img/icons8-bardo-32.png') }}" class="icone6">
        <img src="{{ url_for('static', filename='img/icons8-bardo-24.png') }}" class="icone7">
        <img src="{{ url_for('static', filename='img/icons8-bardo-24.png') }}" class="icone8">
        <img src="{{ url_for('static', filename='img/icons8-bardo-32.png') }}" class="icone9">
        <div class="mensagem-apresentacao">
            <h1 class="titulo"><b>Bem-vindo ao <strong>Atena‑AI</strong>!</b></h1><br><br>
            Sua assistente inteligente criada para te ajudar nos desafios do dia a dia —
            desde dúvidas simples até problemas complexos. Aqui, você encontra uma IA
            rápida, prática e sempre pronta para pensar junto com você.
        </div>
        <a class="btn-apresentacao" id="btn-apresentacao">Vamos lá</a>
    </div>

    <button id="btn-aside" class="btn-aside"><i class="bi bi-list"></i></button>
    <div class="historico" id="aside">
        <a class="chat1" id="chat1">📅 Rotina</a>

        <a class="c1">Falta de organização</a>
        <a class="c1">Procrastinação</a>
        <a class="c1">Acordar cansado</a>
        <a class="c1">Muitas distrações</a>
        <a class="c1">Horários desregulados</a>


        <a class="chat2" id="chat2">📚 Estudo</a>

        <a class="c2">Falta de foco</a>
        <a class="c2">Matéria difícil</a>
        <a class="c2">Conteúdo acumulado</a>
        <a class="c2">Ansiedade em provas</a>
        <a class="c2">Estudar na última hora</a>


        <a class="chat3" id="chat3">💬 Relacionamentos</a>

        <a class="c3">Discussões frequentes</a>
        <a class="c3">Dificuldade em se expressar</a>
        <a class="c3">Insegurança amorosa</a>
        <a class="c3">Distância de amigos</a>
        <a class="c3">Sentir-se sozinho</a>


        <a class="chat4" id="chat4">🏠 Casa</a>

        <a class="c4">Bagunça acumulada</a>
        <a class="c4">Conflitos familiares</a>
        <a class="c4">Pouca privacidade</a>
        <a class="c4">Ambiente barulhento</a>
        <a class="c4">Tarefas desiguais</a>


        <a class="chat5" id="chat5">💼 Trabalho / Futuro</a>

        <a class="c5">Dúvida na carreira</a>
        <a class="c5">Medo do futuro</a>
        <a class="c5">Pouca experiência</a>
        <a class="c5">Pressão para decidir</a>
        <a class="c5">Insegurança em entrevistas</a>
    </div>

    <section id="body" class="body"></section>

    <input type="text" placeholder="Digite desafio de hoje?" class="mensagem" id="input">
    <button onclick="digitado()" class="enviar"><i class="bi bi-arrow-up-short"></i></button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
